apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-tjlhmmph
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-tjlhmmph:a83324b47170fc35a02ba0105850bb76955f8aeb@sha256:69286b5c436281ba88882e0945ad0c4e502c3090f430a6a13f849040df95409c
          name: container-image
